body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}
.container {
    text-align: center;
}
h1 {
    font-size: 100px;
    color: #ff6347;
}
p {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}
a:hover {
    color: #d45b3a;
}