<!DOCTYPE html>
<html>

<head>
    <title>Ascii Art Web</title>
</head>

<body>
    <h1>Ascii Art Generator</h1>
    <form action="/ascii-art" method="POST">
        <label for="text">Enter text:</label>
        <input type="text" id="text" name="text" required><br><br>

        <label for="banner">Choose a banner:</label><br>
        <input type="radio" id="standard" name="banner" value="standard" required>
        <label for="standard">Standard</label><br>
        <input type="radio" id="shadow" name="banner" value="shadow">
        <label for="shadow">Shadow</label><br>
        <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
        <label for="thinkertoy">Thinkertoy</label><br><br>

        <button type="submit">Generate ASCII Art</button>
    </form>

    <div>
        <p>{{.Error}}</p>
        <pre>{{.AsciiResult}}</pre>
    </div>

</body>

</html>